# virtual environment
myenv/

# python cache
__pycache__/
*.pyc

# environment variables
.env

# vector database
vectorstore/

# vscode settings
.vscode/

# OS files
.DS_Store

Google Models.txt
HF Models.txt

my_project/checkpoints/
*.db
*.db-shm
*.db-wal